<html>
    <head>

    </head>
    <body>
        <h2>Import and convert decks</h2>
        <form action="/confirm_override" method="post">
            <div>File already exists. Overwrite?</div>
            <div>
                <label>Yes</label>                    
                <input name="overwrite" value="y" type="radio">
            </div>
            <div>
                <label>No</label>                    
                <input name="overwrite" value="n" type="radio">
            </div>
            <input type="submit" value="Confirm">
        </form>
    </body>
</html>