<html>
    <head>

    </head>
    <body>
        <H2>
        menu
        </H2>
        <div>
            <a href="/menu_choice/1">1. View deck</a>
        </div>
        <div>
            <a href="/menu_choice/2">2. Add item</a>
        </div>
        <div>
            <a href="/menu_choice/3">3. Delete item</a>
        </div>
        <div>
            <a href="/menu_choice/4">4. Quiz yourself</a>
        </div>
        <div>
            <a href="/menu_choice/5">5. Play a game</a>
        </div>
        <div>
            <a href="/menu_choice/6">6. Switch decks</a>
        </div>
        <div>
        <a href="/main">7. Back</a>
        </div>
    </body>
    
</html>