<html>
    <head>

    </head>
    <body>
        <h2>Import and convert decks</h2>
        <form action="/check_default" method="post">
            <div>Please input the separator you used between card fronts and backs:</div>
            <div><input name="ask_fbsep" type="text"></div>
            <div>Please input the separator you used between cards: </div>
            <div><input name="ask_cardsep" type="text"></div>
            <input type="submit" value="Confirm">
        </form>
    </body>
</html>